<!--Footer-->
<div class="footer-dark ftr">
    <footer>
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="px-2 hd">Services</h3>
                    <ul class="nav flex-column col1">
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/listings/buy">Buy Property</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/listings/rent">Rent a House</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" routerLink="/listings/rent">Rent an Apartment</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-3 item">
                    <h3 class="px-2 hd">About</h3>
                    <ul class="nav flex-column col1">
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" href="#">Company</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" href="#">Reviews</a>
                        </li>
                        <li class="py-1 nav-item">
                            <a class="nav-link text-muted" href="#">Locate Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="hd">
                        <img src="../../../assets/Logo.png" alt="" width="40" height="40"
                            class="img-fluid me-10" />Property
                        Listing
                    </h3>
                    <p class="py-2 text-muted col1" style="width: 500px;">
                        Search for amazing properties in India, the best property site.
                        Book & Rent exclusive houses, apartments, villas at reasonable price.
                    </p>


                    <div class="col item social pt-3">
                        <a href="http://www.facebook.com/"><i class="bi bi-facebook mx-3"
                                style="font-size: 2rem; color: #016450;"></i></a>
                        <a href="https://www.twitter.com/"><i class="bi bi-twitter mx-3"
                                style="font-size: 2rem; color: #016450;"></i></a>
                        <a href="https://www.snapchat.com/"><i class="bi bi-snapchat mx-3"
                                style="font-size: 2rem; color: #016450;"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram mx-3"
                                style="font-size: 2rem; color: #016450;"></i></a>
                    </div>


                </div>
            </div>
            <p class="text-center text-muted hd1 mt-4">Property © 2021</p>
        </div>
    </footer>
</div>