
<div class="container-fluid my-5 p-5 card shadow-lg bg-white rounded border-0" style="width: auto;">
  <div class="row d-flex justify-content-between align-items-center py-lg-4 px-4">

      <div class="col-lg-6 d-none d-lg-block">
          <h2 class="h2">Login to Start Booking your Dream Property</h2>
          <h6 class="h6 pb-2">Don't have an account? <a href="../signup" class="link">Signup</a></h6>
          <img src="../../../assets/loginimg.png" class="img-fluid pt-5" />
      </div>
 
      <div class="col-lg-4 mb-3">
          
          <div class="alert alert-success d-flex align-items-center mt-4" role="alert" *ngIf="success">
              <i class="bi bi-check-circle mx-2"></i>
              <div class="ms-2">Login Successful!</div>
          </div>
          <div class="alert alert-danger d-flex align-items-center mt-4" role="alert" *ngIf="this.authService.errorFlag">
              <i class="bi bi-exclamation-triangle mx-2"></i>
              <div class="ms-2">Invalid Credentials</div>
          </div>

          <h2 class="h2 d-lg-none">Login to Start Booking</h2>
          <h2 class="h2 d-lg-none">Dream Property</h2>
          <h4 class="h2 text-center d-none d-lg-block">Log In</h4>
          <form [formGroup]="signInForm" (ngSubmit)="handleLogin()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email"
                class="form-control {{email.pristine ? '' : email.dirty && email.invalid ? 'is-invalid' : 'is-valid'}}"
                id="exampleInputEmail1" [formControl]="email" autocomplete="off">
              <div class="form-text text-danger" *ngIf="email.dirty && email.invalid">
                <span *ngIf="email.dirty && email.errors?.['required']">Email can't be empty.</span>
                <span *ngIf="email.errors?.['invalidEmail']">Invalid email format.</span>
              </div> 
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password"
                class="form-control {{password.pristine ? '' : password.dirty && password.invalid ? 'is-invalid' : 'is-valid'}}"
                id="exampleInputPassword1" [formControl]="password" autocomplete="off">
              <div class="form-text text-danger" *ngIf="password.dirty && password.invalid">
                <span *ngIf="password.dirty && password.errors?.['required']">Password can't be empty.</span>
                <span *ngIf="password.dirty && password.errors?.['invalidPassword']">Password must contain upper and lower case letters, a number, a special character, and be at least 8 characters long.</span>
              </div>
            </div>
      
            <button type="submit" [disabled]="signInForm.pristine || (signInForm.dirty && signInForm.invalid)" class="btn btn-primary w-100">Submit</button>
          </form>
          <h6 class="h6 pb-1 d-lg-none text-center">Don't have an account? <a href="../signup" class="link">Signup</a></h6>

      </div>
  </div>
</div>
