<div class="container my-5 mx-auto">
    <h2 class="text-center profile-header">User Profile</h2>
    
    <div class="text-center">
        <img src="../../../assets/user.png" alt="Profile Picture" class="profile-picture">
    </div>

    <div class="profile-info bg-light p-3 rounded shadow-sm">
        <p><strong>Username:</strong> {{ userDetails.userName }}</p>
        <p><strong>Email:</strong> {{ userDetails.email }}</p>
    </div>

    <div class="text-center mt-3">
       
        <button type="button" routerLink="/booking" class="btn blcolor mx-3">View Bookings</button>
        <button type="button" routerLink="/wishlist" class="btn blcolor">View Wishlist</button>
    </div>
</div>

<div class="new-property-message mt-4">
  <h4>Facts</h4>
  <div class="fact-container">
      <i class="bi bi-stars">🌟</i>
      <p *ngIf="newPropertyMessage">{{ newPropertyMessage }}</p>
      <i class="bi bi-stars">🌟</i>
  </div>
</div>
